/* header section styles */
.header {
    background-color: #1f2937; /* Set your desired background color */
    color: white; /* Set your desired text color */
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    overflow-x: hidden;
  }
/* search section to remove root padding */
#searchsec{
  padding: 0;
  flex: 1;
}
.container{
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

